opencv-python==4.5.5.64
tensorflow==2.10.0
matplotlib==3.6.2
numpy==1.23.0
keras==2.10.0
pycocotools~=2.0.6
Pillow~=9.4.0
waitress~=2.1.2
requests~=2.28.2
tqdm==4.65.0
scikit-image~=0.19.3
torchmetrics~=0.11.4
# torch~=2.0.0+cu118
torchvision~=0.15.1
onnx2tf==1.6.7
onnx
