opencv-python==4.5.5.64
tensorflow==2.10.0
matplotlib==3.6.2
numpy==1.24.2
keras==2.10.0
pycocotools~=2.0.6
Pillow~=9.4.0
waitress~=2.1.2
segmentation-models==1.0.1
keras-unet==0.1.2
requests~=2.28.2
pandas==2.0.0
tqdm==4.65.0
scikit-image~=0.19.3
torchmetrics~=0.11.4